name: CI/CD Pipeline

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-test-scan-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Automated Test
        run: |
          echo "Running HTML test..."
          grep -q "<html>" index.html

      - name: Security Scan using Trivy
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: fs
          scan
